{% extends 'base2.html.twig' %}
{% block body %}
{% include 'components/navbar.html.twig' %}
    <div class="container mt-3 text-white">
    <div class="d-flex justify-content-center">
        <h4> Les réponses à vos candidatures </h4>
    </div>
    <div class="container">
        <table id="" class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Offre</th>
                <th scope="col"> Message</th>
                <th scope="col"> Marquer comme lu</th>

            </tr>
            </thead>
            <tbody id="listRep">

            {% for r in lr %}
                {% if r.checked is null or r.checked == false %}
                <tr class="{{ r.id }}">
                    <td> {{ r.candidatures.offres.name }}</td>
                    <td> {{ r.message }}</td>
                    <td> <form method="post" action="/markAsRead">
                            <button name="id" value="{{ r.id }}" onclick="rem(this.id)"  id="{{ r.id }}" type="submit" class="btn btn-light">
                                <i  class="fas fa-eye"></i>
                            </button>
                            </form>
                    </td>

                </tr>
                {% endif %}
            {% endfor %}

            </tbody>
        </table>
    </div>


    </div>
    <script>


    </script>

{% endblock %}